@media (max-width: 1200px){
  .main .main__content h1 {
    font-size: 4rem;
  }
}

@media (max-width: 900px) {
  body {
    background: var(--Violet) url("../images/bg-mobile.svg") no-repeat center
      center;
    background-size: cover;
    overflow: auto;
  }

  .header .header__logo {
    margin: 40px 0 40px 40px;
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .main .main__content {
    text-align: center;
  }

  .main .main__content h1 {
    font-size: 4rem;
  }

  .footer .footer__social {
    margin: 0 auto;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .main .main__content h1 {
    font-size: 3rem;
  }

  .main .main__image {
    margin-bottom: 40px;
  }

  .footer .footer__social {
    padding: 60px 0;
  }
}

@media (max-width: 425px) {
  .main .main__content h1 {
    font-size: 2.5rem;
  }

  .main .main__content p {
    font-size: 1rem;
  }

  .main .main__content p {
    font-size: 1.7rem;
  }

  .main .main__image {
    margin-bottom: 40px;
  }
}
